---
---
# Previsão do Nível de Satisfação dos Clientes do Santander

### _Santander Customer Satisfaction_
---
---

##  Manipulação de Dados // _Data Wrangling_

In [1]:
# Versão da Linguagem Python // Python language version
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.12

In [2]:
# Installs pyarrow
#!pip install pyarrow

In [3]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
import scipy
from scipy import stats
import pyarrow
import warnings
warnings.filterwarnings("ignore")

from utils import *

In [4]:
# Versões dos pacotes usados neste jupyter notebook // Versions of packages used in this jupyter notebook
#!pip install -q -U watermark
%reload_ext watermark
%watermark -a "Tatiana Novaes Carvalho" --iversions

Author: Tatiana Novaes Carvalho

pandas    : 1.4.2
scipy     : 1.7.3
seaborn   : 0.11.2
numpy     : 1.22.3
pyarrow   : 9.0.0
sklearn   : 1.1.2
matplotlib: 3.5.1

### Ingestão dos dados // _Data ingestion_

In [5]:
# Carrega os dados // Load the data
file = 'train'
df = pd.read_csv(f'../datasets/{file}.csv', index_col = 0)

In [6]:
df.shape

(76020, 370)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 1 to 151838
Columns: 370 entries, var3 to TARGET
dtypes: float64(111), int64(259)
memory usage: 215.2 MB

In [8]:
df.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

### Separação das Variáveis  // _Separation of Variables_

In [9]:
# Identificação das variáveis  // Variables identification

# Definição da variável-alvo // Target definition
target = 'TARGET'

# Separação das variáveis categóricas e numéricas // Separation of categorial and numerical features
cat_features, num_features = identify_variables_type(df, target)

print(f'Quantidade de variáveis categóricas: {len(cat_features)}')
print(f'Quantidade de variáveis numéricas: {len(num_features)}')

Quantidade de variáveis categóricas: 238
Quantidade de variáveis numéricas: 131

In [10]:
# Conversão dos tipos de dados das variáveis // Conversion of variables data types

df = convert_variables_dtype(df, cat_features, num_features, target)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 1 to 151838
Columns: 370 entries, var3 to TARGET
dtypes: category(239), float64(131)
memory usage: 93.9 MB

In [11]:
df.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
1,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
3,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
4,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
8,2.0,37.0,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
10,2.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

> Separação de dados em treino e teste // _Splitting data into training and test_

In [12]:
# Separação dos dados // Splitting the data

X = df.drop(target, axis=1)
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

df_train = X_train.copy()
df_train[target] = y_train

df_test = X_test.copy()
df_test[target] = y_test

display(df_train)
display(df_test)

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
56183,2.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
43354,2.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,407115.540000,0
31400,2.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85564.710000,0
123436,2.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
109140,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72880.980000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74348,2.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,195450.930000,0
12597,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84892.950000,0
109515,2.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63733.770000,0
1703,2.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101492.340000,0
31710,2.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
101019,2.0,45.0,0.0,709.05,1399.17,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77930.250000,0
10518,2.0,60.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,165125.040000,0
43966,2.0,27.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82636.440000,0
85554,2.0,38.0,0.0,269.40,754.05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67460.550000,0
37070,2.0,23.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24271,2.0,28.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,127970.370000,0
128285,2.0,36.0,0.0,451.05,487.50,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0
113194,2.0,52.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81224.970000,0
32781,2.0,30.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70824.480000,0
36556,2.0,31.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82848.240000,0

### DATASET DE TREINO | _TRAINING DATA SET_

### Limpeza de dados // _Data cleaning_

> Tratamento de Valores Duplicados // _Treatment of Duplicated Data_

In [13]:
# Checando existência de valores duplicados // Checking for duplicate values
df_train.duplicated().sum()

2948

In [14]:
# Remoção de dados duplicados (remove uma das duplicatas)
df_train_clean = df_train.copy()
df_train_clean = df_train_clean.drop_duplicates()
print(df_train_clean.shape)

(47985, 370)

_**Observação:**_
Foram excluídos 4.807 registros duplicados.
---
_**Observation:**_
_4,807 duplicate records were excluded._

In [15]:
df_train_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47985 entries, 56183 to 1703
Columns: 370 entries, var3 to TARGET
dtypes: category(239), float64(131)
memory usage: 59.3 MB

> Tratamento de Valores Ausentes // _Treatment of Missing Data_

In [16]:
df_train_clean.shape

(47985, 370)

In [17]:
# Checando valores ausentes // Checking missing values
print(df_train_clean.isnull().sum())

var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
imp_op_var39_comer_ult3    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 370, dtype: int64

In [18]:
# Atributos com valor zero em todos os registros

# Chamada à função
cols_zero = identify_cols_zero(df_train_clean)

# Remoção das variáveis
df_train_clean2 = df_train_clean.drop(columns=cols_zero)

In [19]:
print(cols_zero)

['ind_var2_0', 'ind_var2', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var18_0', 'ind_var18', 'ind_var27_0', 'ind_var28_0', 'ind_var28', 'ind_var27', 'ind_var41', 'ind_var46_0', 'ind_var46', 'num_var13_medio_0', 'num_var13_medio', 'num_var18_0', 'num_var18', 'num_var27_0', 'num_var28_0', 'num_var28', 'num_var27', 'num_var41', 'num_var46_0', 'num_var46', 'saldo_var13_medio', 'saldo_var18', 'saldo_var28', 'saldo_var27', 'saldo_var41', 'saldo_var46', 'delta_imp_amort_var18_1y3', 'delta_imp_reemb_var33_1y3', 'delta_num_reemb_var33_1y3', 'imp_amort_var18_hace3', 'imp_amort_var34_hace3', 'imp_reemb_var13_hace3', 'imp_reemb_var33_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_out_hace3', 'imp_trasp_var33_out_hace3', 'num_var2_0_ult1', 'num_var2_ult1', 'num_meses_var13_medio_ult3', 'num_reemb_var13_hace3', 'num_reemb_var33_hace3', 'num_reemb_var33_ult1', 'num_trasp_var17_out_hace3', 'num_trasp_var33_out_hace3', 'saldo_var2_ult1', 'saldo_medio_var13_medio_hace3', 'saldo_medio_var13_medio_ult1']

In [20]:
df_train_clean2.shape

(47985, 319)

**Observações:**
1. Não há dados ausentes no dataset em análise (null).
2. Porém, há informações ausentes, haja vista que 34 atributos, os quais foram removidos, possuem todos os registros com valor igual a 0 (zero).

---
_**Observations:**_
1. _There is no missing data in the dataset under analysis (null)._
2. _However, there is missing information, given the fact that 34 attributes, which were removed, have all records with a value equal to 0 (zero)._

> Tratamento de Valores Extremos // Outliers

In [21]:
# Remoção de outliers // Outliers removal

df_train_clean3 = remove_outliers(df_train_clean2, num_features)
df_train_clean3.info()

Número de linhas antes de filtrar valores extremos (outliers): 47985

Número de outliers em var3: 74 -> 0.15%

Número de outliers em var15: 826 -> 1.72%

Número de outliers em imp_ent_var16_ult1: 137 -> 0.29%

Número de outliers em imp_op_var39_comer_ult1: 915 -> 1.91%

Número de outliers em imp_op_var39_comer_ult3: 908 -> 1.89%

Número de outliers em imp_op_var40_comer_ult1: 134 -> 0.28%

Número de outliers em imp_op_var40_comer_ult3: 159 -> 0.33%

Número de outliers em imp_op_var40_efect_ult1: 28 -> 0.06%

Número de outliers em imp_op_var40_efect_ult3: 32 -> 0.07%

Número de outliers em imp_op_var40_ult1: 124 -> 0.26%

Número de outliers em imp_op_var41_comer_ult1: 946 -> 1.97%

Número de outliers em imp_op_var41_comer_ult3: 936 -> 1.95%

Número de outliers em imp_op_var41_efect_ult1: 506 -> 1.05%

Número de outliers em imp_op_var41_efect_ult3: 307 -> 0.64%

Número de outliers em imp_op_var41_ult1: 702 -> 1.46%

Número de outliers em imp_op_var39_efect_ult1: 499 -> 1.04%

Número de outliers em imp_op_var39_efect_ult3: 306 -> 0.64%

Número de outliers em imp_op_var39_ult1: 690 -> 1.44%

Número de outliers em imp_sal_var16_ult1: 30 -> 0.06%

Número de outliers em num_var17_0: 95 -> 0.2%

Número de outliers em num_op_var40_hace2: 67 -> 0.14%

Número de outliers em num_op_var40_ult1: 115 -> 0.24%

Número de outliers em num_op_var40_ult3: 138 -> 0.29%

Número de outliers em num_op_var41_hace2: 946 -> 1.97%

Número de outliers em num_op_var41_hace3: 318 -> 0.66%

Número de outliers em num_op_var41_ult1: 1209 -> 2.52%

Número de outliers em num_op_var41_ult3: 1149 -> 2.39%

Número de outliers em num_op_var39_hace2: 955 -> 1.99%

Número de outliers em num_op_var39_hace3: 320 -> 0.67%

Número de outliers em num_op_var39_ult1: 1077 -> 2.24%

Número de outliers em num_op_var39_ult3: 1166 -> 2.43%

Número de outliers em num_var30_0: 1294 -> 2.7%

Número de outliers em num_var31_0: 210 -> 0.44%

Número de outliers em num_var35: 304 -> 0.63%

Número de outliers em num_var37_med_ult2: 952 -> 1.98%

Número de outliers em num_var37_0: 830 -> 1.73%

Número de outliers em num_var37: 830 -> 1.73%

Número de outliers em saldo_var1: 103 -> 0.21%

Número de outliers em saldo_var5: 295 -> 0.61%

Número de outliers em saldo_var8: 198 -> 0.41%

Número de outliers em saldo_var12: 688 -> 1.43%

Número de outliers em saldo_var13_corto: 902 -> 1.88%

Número de outliers em saldo_var13_largo: 384 -> 0.8%

Número de outliers em saldo_var13: 965 -> 2.01%

Número de outliers em saldo_var14: 69 -> 0.14%

Número de outliers em saldo_var17: 24 -> 0.05%

Número de outliers em saldo_var20: 20 -> 0.04%

Número de outliers em saldo_var24: 684 -> 1.43%

Número de outliers em saldo_var26: 618 -> 1.29%

Número de outliers em saldo_var25: 599 -> 1.25%

Número de outliers em saldo_var30: 1014 -> 2.11%

Número de outliers em saldo_var31: 36 -> 0.08%

Número de outliers em saldo_var32: 50 -> 0.1%

Número de outliers em saldo_var33: 26 -> 0.05%

Número de outliers em saldo_var37: 265 -> 0.55%

Número de outliers em saldo_var40: 134 -> 0.28%

Número de outliers em saldo_var42: 723 -> 1.51%

Número de outliers em saldo_var44: 42 -> 0.09%

Número de outliers em delta_imp_aport_var13_1y3: 260 -> 0.54%

Número de outliers em delta_imp_compra_var44_1y3: 41 -> 0.09%

Número de outliers em imp_aport_var13_hace3: 615 -> 1.28%

Número de outliers em imp_aport_var13_ult1: 215 -> 0.45%

Número de outliers em imp_aport_var17_hace3: 6 -> 0.01%

Número de outliers em imp_aport_var17_ult1: 19 -> 0.04%

Número de outliers em imp_aport_var33_hace3: 15 -> 0.03%

Número de outliers em imp_var7_recib_ult1: 43 -> 0.09%

Número de outliers em imp_compra_var44_hace3: 17 -> 0.04%

Número de outliers em imp_compra_var44_ult1: 16 -> 0.03%

Número de outliers em imp_reemb_var13_ult1: 31 -> 0.06%

Número de outliers em imp_reemb_var17_ult1: 9 -> 0.02%

Número de outliers em imp_var43_emit_ult1: 194 -> 0.4%

Número de outliers em imp_trans_var37_ult1: 296 -> 0.62%

Número de outliers em imp_venta_var44_ult1: 9 -> 0.02%

Número de outliers em var21: 414 -> 0.86%

Número de outliers em num_ent_var16_ult1: 432 -> 0.9%

Número de outliers em num_var22_hace2: 794 -> 1.65%

Número de outliers em num_var22_hace3: 1477 -> 3.08%

Número de outliers em num_var22_ult1: 929 -> 1.94%

Número de outliers em num_var22_ult3: 969 -> 2.02%

Número de outliers em num_med_var22_ult3: 665 -> 1.39%

Número de outliers em num_med_var45_ult3: 965 -> 2.01%

Número de outliers em num_op_var39_comer_ult1: 1104 -> 2.3%

Número de outliers em num_op_var39_comer_ult3: 1059 -> 2.21%

Número de outliers em num_op_var40_comer_ult1: 141 -> 0.29%

Número de outliers em num_op_var40_comer_ult3: 129 -> 0.27%

Número de outliers em num_op_var41_comer_ult1: 1072 -> 2.23%

Número de outliers em num_op_var41_comer_ult3: 1017 -> 2.12%

Número de outliers em num_op_var41_efect_ult1: 1087 -> 2.27%

Número de outliers em num_op_var41_efect_ult3: 1108 -> 2.31%

Número de outliers em num_op_var39_efect_ult1: 1091 -> 2.27%

Número de outliers em num_op_var39_efect_ult3: 1110 -> 2.31%

Número de outliers em num_var43_emit_ult1: 667 -> 1.39%

Número de outliers em num_var43_recib_ult1: 759 -> 1.58%

Número de outliers em num_trasp_var11_ult1: 394 -> 0.82%

Número de outliers em num_var45_hace2: 936 -> 1.95%

Número de outliers em num_var45_hace3: 903 -> 1.88%

Número de outliers em num_var45_ult1: 872 -> 1.82%

Número de outliers em num_var45_ult3: 910 -> 1.9%

Número de outliers em saldo_medio_var5_hace2: 470 -> 0.98%

Número de outliers em saldo_medio_var5_hace3: 311 -> 0.65%

Número de outliers em saldo_medio_var5_ult1: 366 -> 0.76%

Número de outliers em saldo_medio_var5_ult3: 424 -> 0.88%

Número de outliers em saldo_medio_var8_hace2: 110 -> 0.23%

Número de outliers em saldo_medio_var8_hace3: 42 -> 0.09%

Número de outliers em saldo_medio_var8_ult1: 185 -> 0.39%

Número de outliers em saldo_medio_var8_ult3: 183 -> 0.38%

Número de outliers em saldo_medio_var12_hace2: 544 -> 1.13%

Número de outliers em saldo_medio_var12_hace3: 276 -> 0.58%

Número de outliers em saldo_medio_var12_ult1: 663 -> 1.38%

Número de outliers em saldo_medio_var12_ult3: 674 -> 1.4%

Número de outliers em saldo_medio_var13_corto_hace2: 738 -> 1.54%

Número de outliers em saldo_medio_var13_corto_hace3: 338 -> 0.7%

Número de outliers em saldo_medio_var13_corto_ult1: 877 -> 1.83%

Número de outliers em saldo_medio_var13_corto_ult3: 856 -> 1.78%

Número de outliers em saldo_medio_var13_largo_hace2: 240 -> 0.5%

Número de outliers em saldo_medio_var13_largo_hace3: 110 -> 0.23%

Número de outliers em saldo_medio_var13_largo_ult1: 277 -> 0.58%

Número de outliers em saldo_medio_var13_largo_ult3: 276 -> 0.58%

Número de outliers em saldo_medio_var17_hace2: 14 -> 0.03%

Número de outliers em saldo_medio_var17_hace3: 4 -> 0.01%

Número de outliers em saldo_medio_var17_ult1: 27 -> 0.06%

Número de outliers em saldo_medio_var17_ult3: 24 -> 0.05%

Número de outliers em saldo_medio_var33_hace2: 25 -> 0.05%

Número de outliers em saldo_medio_var33_hace3: 14 -> 0.03%

Número de outliers em saldo_medio_var33_ult1: 25 -> 0.05%

Número de outliers em saldo_medio_var33_ult3: 26 -> 0.05%

Número de outliers em saldo_medio_var44_hace2: 35 -> 0.07%

Número de outliers em saldo_medio_var44_hace3: 16 -> 0.03%

Número de outliers em saldo_medio_var44_ult1: 44 -> 0.09%

Número de outliers em saldo_medio_var44_ult3: 46 -> 0.1%

Número de outliers em var38: 177 -> 0.37%

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47985 entries, 56183 to 1703
Columns: 319 entries, var3 to TARGET
dtypes: category(188), float64(131)
memory usage: 57.0 MB

In [22]:
# Gravação dos dados transformados em disco // Writing the transformed data to disk
df_train_clean3.to_parquet('../datasets/df_train_cleaned.dat')

### DATASET DE TESTE | _TEST DATA SET_

In [23]:
# Dados de teste // Test data set

print(df_test.shape)
display(df_test.head())

(25087, 370)

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
101019,2.0,45.0,0.0,709.05,1399.17,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77930.250000,0
10518,2.0,60.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,165125.040000,0
43966,2.0,27.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82636.440000,0
85554,2.0,38.0,0.0,269.40,754.05,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67460.550000,0
37070,2.0,23.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [24]:
print(f'Variáveis excluídas por colunas conterem apenas zero: {cols_zero}')
df_test2 = df_test.drop(columns = cols_zero)
df_test2.shape

Variáveis excluídas por colunas conterem apenas zero: ['ind_var2_0', 'ind_var2', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var18_0', 'ind_var18', 'ind_var27_0', 'ind_var28_0', 'ind_var28', 'ind_var27', 'ind_var41', 'ind_var46_0', 'ind_var46', 'num_var13_medio_0', 'num_var13_medio', 'num_var18_0', 'num_var18', 'num_var27_0', 'num_var28_0', 'num_var28', 'num_var27', 'num_var41', 'num_var46_0', 'num_var46', 'saldo_var13_medio', 'saldo_var18', 'saldo_var28', 'saldo_var27', 'saldo_var41', 'saldo_var46', 'delta_imp_amort_var18_1y3', 'delta_imp_reemb_var33_1y3', 'delta_num_reemb_var33_1y3', 'imp_amort_var18_hace3', 'imp_amort_var34_hace3', 'imp_reemb_var13_hace3', 'imp_reemb_var33_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_out_hace3', 'imp_trasp_var33_out_hace3', 'num_var2_0_ult1', 'num_var2_ult1', 'num_meses_var13_medio_ult3', 'num_reemb_var13_hace3', 'num_reemb_var33_hace3', 'num_reemb_var33_ult1', 'num_trasp_var17_out_hace3', 'num_trasp_var33_out_hace3', 'saldo_var2_ult1', 'saldo_medio_var13_medio_hace3', 'saldo_medio_var13_medio_ult1']

(25087, 319)

In [25]:
# Gravação dos dados transformados em disco // Writing the transformed data to disk
df_test2.to_parquet('../datasets/df_test_cleaned.dat')